h1 {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  font-size: 40px
}

.rlist {
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
}